@model IEnumerable<catexercise.models.commentview>

    @{
        ViewBag.Title = "Index";
    }

    <div class="row">
        <h1>${currentCatThread.titre}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div>
                <img src="${currentCatThread.uriPhoto}" class="img-responsive" alt="photo du chat">
            </div>
        </div>

        <div class="col-sm-4">
            <div>
                <p>Crée par : ${currentCatThread.login}</p>
                <p>Le : ${currentCatThread.creationDate}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <p>Commentaires :</p><br>
        </div>
    </div>
   @foreach (var item in Model) {
       
        
            <div class="row">
                <div class="col-md-4">@Html.DisplayFor(modelItem => item.UserName) <br><small>Le@Html.DisplayFor(modelItem => item.CreationDate)</small></div>
                <div class="col-md-7">@Html.DisplayFor(modelItem => item.Content)</div>
       
            </div>
            <div><br></div>
        
   }


