
@{
    ViewBag.Title = "Find";
}

<h2>Accès aux éfigies </h2>
<h2> * Inventaire des agoras </h2>
<h2>@ViewBag.NoResult</h2>
<form action="@Url.Action("find")" method="get">
    <input name="what" type="text" /><button type="submit">Rechercher</button>
</form>
@Html.ActionLink("Ajouter une Thread", "Create")
