@model CatExercise.Models.UserViewLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Déconnection reussie !</h2>
        <hr />
        
    </div>
}
